

.signup-inputs{
    margin: 10px auto;
    width: 50%;
 }
 .signup-btn{
    width: 50%;
    margin: 0 auto;
    background-color: #2db6f5;
 }
 .signup-form-container{
    border: 1px solid #e0d20b;
    width:30%;
    padding:50px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px darkmagenta;

 }
 